<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <form action="/login" method="post">
      <div>
        <label for="email">email: </label>

        <input
          type="email"
          required
          pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
          name="email"
          id="email"
        />
      </div>
      <label for="password">password: </label>
      <input
        type="password"
        name="password"
        id="password"
        required
        maxlength="8"
      />
      <br />
      <button>submit</button>
    </form>
  </body>
</html>
